<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>CreatedDate</th>
              <th>Q1</th>
              <th>Q1o1</th>
              <th>Q1o2</th>
              <th>Q1o3</th>
              <th>Q1o4</th>
              <th>Q1o5</th>
              <th>Q2</th>
              <th>Q2o1</th>
              <th>Q2o2</th>
              <th>Q2o3</th>
              <th>Q2o4</th>
              <th>Q2o5</th>
              <th>Q3</th>
              <th>Q3o1</th>
              <th>Q3o2</th>
              <th>Q3o3</th>
              <th>Q3o4</th>
              <th>Q3o5</th>
              <th>Q4</th>
              <th>Q4o1</th>
              <th>Q4o2</th>
              <th>Q4o3</th>
              <th>Q4o4</th>
              <th>Q4o5</th>
              <th>Q5</th>
              <th>Q5o1</th>
              <th>Q5o2</th>
              <th>Q5o3</th>
              <th>Q5o4</th>
              <th>Q5o5</th>
              <th>Q6</th>
              <th>Q6o1</th>
              <th>Q6o2</th>
              <th>Q6o3</th>
              <th>Q6o4</th>
              <th>Q6o5</th>
              <th>Q7</th>
              <th>Q7o1</th>
              <th>Q7o2</th>
              <th>Q7o3</th>
              <th>Q7o4</th>
              <th>Q7o5</th>
              <th>Q8</th>
              <th>Q8o1</th>
              <th>Q8o2</th>
              <th>Q8o3</th>
              <th>Q8o4</th>
              <th>Q8o5</th>
              <th>Q9</th>
              <th>Q9o1</th>
              <th>Q9o2</th>
              <th>Q9o3</th>
              <th>Q9o4</th>
              <th>Q9o5</th>
              <th>Q10</th>
              <th>Q10o1</th>
              <th>Q10o2</th>
              <th>Q10o3</th>
              <th>Q10o4</th>
              <th>Q10o5</th>
            </tr>
          </thead>
          <tbody>
            {{#each context}}
            <tr>
              <td>
                {{surveyNumber}}
              </td>
              <td>
                {{surveyTitle}}
              </td>
              <td>
                {{dateCreated}}
              </td>
              <td>
                {{question1.question}}
              </td>
              <td>
                {{question1.option1}}
              </td>
              <td>
                {{question1.option2}}
              </td>
              <td>
                {{question1.option3}}
              </td>
              <td>
                {{question1.option4}}
              </td>
              <td>
                {{question1.option5}}
              </td>
              <td>
                {{question2.question}}
              </td>
              <td>
                {{question2.option1}}
              </td>
              <td>
                {{question2.option2}}
              </td>
              <td>
                {{question2.option3}}
              </td>
              <td>
                {{question2.option4}}
              </td>
              <td>
                {{question2.option5}}
              </td>

              <td>
                {{question3.question}}
              </td>
              <td>
                {{question3.option1}}
              </td>
              <td>
                {{question3.option2}}
              </td>
              <td>
                {{question3.option3}}
              </td>
              <td>
                {{question3.option4}}
              </td>
              <td>
                {{question3.option5}}
              </td>

              <td>
                {{question4.question}}
              </td>
              <td>
                {{question4.option1}}
              </td>
              <td>
                {{question4.option2}}
              </td>
              <td>
                {{question4.option3}}
              </td>
              <td>
                {{question4.option4}}
              </td>
              <td>
                {{question4.option5}}
              </td>

              <td>
                {{question5.question}}
              </td>
              <td>
                {{question5.option1}}
              </td>
              <td>
                {{question5.option2}}
              </td>
              <td>
                {{question5.option3}}
              </td>
              <td>
                {{question5.option4}}
              </td>
              <td>
                {{question5.option5}}
              </td>
              <td>
                {{question6.question}}
              </td>
              <td>
                {{question6.option1}}
              </td>
              <td>
                {{question6.option2}}
              </td>
              <td>
                {{question6.option3}}
              </td>
              <td>
                {{question6.option4}}
              </td>
              <td>
                {{question6.option5}}
              </td>
              <td>
                {{question7.question}}
              </td>
              <td>
                {{question7.option1}}
              </td>
              <td>
                {{question7.option2}}
              </td>
              <td>
                {{question7.option3}}
              </td>
              <td>
                {{question7.option4}}
              </td>
              <td>
                {{question7.option5}}
              </td>
              <td>
                {{question1.question}}
              </td>
              <td>
                {{question8.option1}}
              </td>
              <td>
                {{question8.option2}}
              </td>
              <td>
                {{question8.option3}}
              </td>
              <td>
                {{question8.option4}}
              </td>
              <td>
                {{question8.option5}}
              </td>
              <td>
                {{question9.question}}
              </td>
              <td>
                {{question9.option1}}
              </td>
              <td>
                {{question9.option2}}
              </td>
              <td>
                {{question9.option3}}
              </td>
              <td>
                {{question9.option4}}
              </td>
              <td>
                {{question9.option5}}
              </td>
              <td>
                {{question10.question}}
              </td>
              <td>
                {{question10.option1}}
              </td>
              <td>
                {{question10.option2}}
              </td>
              <td>
                {{question10.option3}}
              </td>
              <td>
                {{question10.option4}}
              </td>
              <td>
                {{question10.option5}}
              </td>
              <td>
                <a href="/admin/delete-survey?id{{surveyNumber}}" class="s-l">Delete</a>|<a
                  href="/admin/update-survey?id{{surveyNumber}}" class="s-l">Update</a>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>